
@import 'theme1.scss';
// @import 'theme2.scss';



$color-base:#8d99ae;

.container-1 {
    display:flex;
    flex-direction: row;
}

.box {
    width:80px;
    height: 80px;
    margin:10px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.base-color {
    background-color:$color-base ;
}

@for $box from 1 through 4 {
    .darken-#{$box} {
      background-color: darken($color-base, $box * 5%);
    }
  }

  @for $box from 1 through 4 {
    .lighten-#{$box} {
      background-color: lighten($color-base, $box * 5%);
    }
  }

  .menu ul{
    display:flex;
    flex-direction: row;
    padding:0;
    height: 100px;
    justify-content: center;
    align-items: center;
    height:100px; 
    background-color: $color-base;
    & li {
        list-style: none;
        background-color: $color-base;
        text-align:center;
        flex-grow:1;
        color:white;
        padding:5px;

       
    }
  }

  @media only screen and (max-width: 1000px)  {
      .menu ul{
          flex-direction: column;
          & li {
              width:100%;
              padding:10px;
          }
      }
     
  }

  .container3 {
      display:grid;
      grid-template-columns:33% 33% 33%;
      grid-template-rows:auto;
      grid-template-areas:
      "head head head"
      "title title title"
      "description description description"
      "date date date"
      "btn btn btn";
  }
  .card {
border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .img{
    grid-area: head;
  }
  .head .img {
    object-fit: cover;
    width: 100%
  }
  .date {
      display:grid;
    justify-content: end;
    grid-area: date;
  }

  .btn {
      grid-area: head;
      background-color: $color-base;
      padding:15px;
      display:block;
      justify-self: stretch;
      border-radius: 8px;
      border:none;
      color:white;
      margin:10px;
      text-align:center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  